:root {
    --dark-blue: #222222;
    --ping: #F1E4E6;
    --dark-ping: #F16D7F;
    --gray: #9F9F9F;
    --light-gray: #F8F8F8;
}

.body {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;   
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

.container {
    max-width: 1138px;
    margin: 0 auto;
}

.header {
    background-color: var(--dark-blue);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header__button {
background-color: transparent;
border: none;
margin: 0 25px 0 0;
}

.header__profile {
    margin: 0 42px 0 0;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__navigation {
    display: none;
}

.brand {
    display: flex;
    justify-content: space-between;
    background-color: var(--ping);
    margin: 0 0 65px 0;
}

.brand__title {
    font-size: 48px;
font-weight: 900;
line-height: 58px;
text-transform: uppercase;
padding: 0 0 0 91px;
}

.brand__title-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.brand__subtitle {
    display: block;
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.brand__subtitle-pink {
    color: var(--dark-ping);
}

.offers__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.offers__item {
   width: 360px;
   color:white;
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    flex-direction: column;
}
.offers__item--woman {
    background-image: url(../img/Layer\ 43.jpg);
}

.offers__item--man {
    background-image: url(../img/for\ man.jpg);
}

.offers__item--kids {
    background-image: url(../img/for\ kids.jpg);
}

.offers__item--accesories {
    width: 100%;
    margin: 0;
    background-image: url(../img/accesories.jpg);
}

.offers__item--header {
    margin-bottom: 5px;
}

.offers__item--text {
    text-transform: uppercase;
    color: var(--dark-ping);
}
.offers__item--name {
    height: 260px;
}

.fetured__title__header {
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}
.fetured__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.fetured__title__text {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: var(--gray);
}

.fetured__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fetured__list__items {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin-bottom: 30px;
    background-color: var(--light-gray);
}

.fetured__list__items--name {
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 13px;
}

.fetured__list__items--image {
    margin-bottom: 25px;
}

.fetured__list__items--price {
    margin-top: 18px;
    margin-bottom: 20px;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: var(--dark-ping);
}

.fetured__list__items--text {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: var(--gray);
}