:root {
    --dark-blue: #222222;
    --ping: #F1E4E6;
    --dark-ping: #F16D7F;
    --gray: #9F9F9F;
    --light-gray: #F8F8F8;
    --white: #FFFFFF;
    --black: #222224;
    --light-black: #E1E1E1;
}

.body {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;   
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

.container {
    max-width: 1138px;
    margin: 0 auto;
}

.header {
    background-color: var(--dark-blue);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header__button {
background-color: transparent;
border: none;
margin: 0 25px 0 0;
}

.header__profile {
    margin: 0 42px 0 0;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__navigation {
    display: none;
}

.brand {
    display: flex;
    justify-content: space-between;
    background-color: var(--ping);
    margin: 0 0 65px 0;
}

.brand__title {
    font-size: 48px;
font-weight: 900;
line-height: 58px;
text-transform: uppercase;
padding: 0 0 0 91px;
}

.brand__title-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.brand__subtitle {
    display: block;
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.brand__subtitle-pink {
    color: var(--dark-ping);
}

.offers__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.offers__item {
   width: 360px;
   color:white;
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    flex-direction: column;
}
.offers__item--woman {
    background-image: url(../img/Layer\ 43.jpg);
}

.offers__item--man {
    background-image: url(../img/for\ man.jpg);
}

.offers__item--kids {
    background-image: url(../img/for\ kids.jpg);
}

.offers__item--accesories {
    width: 100%;
    margin: 0;
    background-image: url(../img/accesories.jpg);
}

.offers__item--header {
    margin-bottom: 5px;
}

.offers__item--text {
    text-transform: uppercase;
    color: var(--dark-ping);
}
.offers__item--name {
    height: 260px;
}

.fetured__title__header {
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}
.fetured__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.fetured__title__text {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: var(--gray);
}

.fetured__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fetured__list__items {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin-bottom: 30px;
    background-color: var(--light-gray);
}

.fetured__list__items--name {
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 13px;
}

.fetured__list__items--image {
    margin-bottom: 25px;
}

.fetured__list__items--price {
    margin-top: 18px;
    margin-bottom: 20px;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: var(--dark-ping);
}

.fetured__list__items--text {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: var(--gray);
}
.button-product {
    width: 211px;
    height: 47px;
    background-color: var(--white);
    border: 1px solid #FF6A6A;
    margin-bottom: 95px;
    margin-left: 600px;
}

.button-product--text {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: var(--dark-ping);
}

.advantages {
   background-color: var(--black);
}

.advantages__list {
    display: flex;
    justify-content: space-between;
}

.advantages__list__items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__list__items--image {
    margin-bottom: 28px;
    margin-top: 104px;
}

.advantages__list__items--header {
    margin-bottom: 16px;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--white);
}

.advantages__list__items--text {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    color: var(--white);
    margin-bottom: 104px;
    text-align: center;
}

.subscription {
    background-image: url(../img/photo/subscribe.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.subscription__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 87px;
    padding-bottom: 126px;
}

.subscription__title {
    display: flex;
    flex-direction: column;
}

.subscription__title--foto {
    margin-bottom: 30px;
    align-self: center;
    background-color: var(--light-gray);
}

.subscription__title--text {
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    width: 359px;
    height: 99px;
    text-align: center;
}

.subscription__form {
    display: flex;
    flex-direction: column;
}                 

.subscription__form__text {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
  }

.subscription-form__subtext {
    font-weight: 400;
    display: block;
}

.subscription__form__button {
    display: flex;
    align-self: center;
    margin: auto;
    height: 49px;
}

.form-email {
    display: block;
    width: 256px;
    background-color: var(--light-black);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 7px;
    padding-right: 6px;
    padding-left: 22px;
    border: none;
}

.form-subscribe {
    display: block;
    width: 100px;
    text-align: center;
    background-color: var(--dark-ping);
    color: var(--white);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 6px;
    padding-left: 8px;
    border: none;
}

.footer-contact {
    background-color: var(--dark-blue);
}

.footer-contact__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 79px;
}

.footer-contact__list--text {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: var(--white);
}